{% load static %}

<div id="newsletter">
  <div class="container">
    <div class="row">
      <div id="subscribe">
        <form class="form-horizontal" name="subscribe">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <p class="news">SUBSCribe to our
              <span>newsletter</span></p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 form-group">
            <div class="input-group d-flex align-items-center flex-col justify-content-center">
              <input class="form-control" value="" name="subscribe_email" id="subscribe_email" required placeholder="Type your e-mail..." type="email">
              <button class="btn btn-news" type="submit" value="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
