{% load static %}

<div class="service">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <div class="commontop text-center">
          <h2>our best service for you</h2>
          <p>We offer guaranteed services for freelancers and online remote workers, ensuring top-tier support and resources to enhance your productivity and success.</p>
          <hr>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 box text-center">
        <div class="icons">
          <div class="icon">
            <img src="{% static 'images/icon_01.png' %}" class="img-fluid" alt="icon" title="icon">
          </div>
        </div>
        <h4>Online Content Writing</h4>
        <p>Professional content creation tailored to your needs, enhancing your digital presence and engaging your audience effectively.</p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 box text-center">
        <div class="icons">
          <div class="icon">
            <img src="{% static 'images/icon_02.png' %}" class="img-fluid" alt="icon" title="icon">
          </div>
        </div>
        <h4>Online Skill Training</h4>
        <p>Comprehensive training programs to develop and hone your skills, ensuring you stay competitive in the online marketplace.</p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 box text-center">
        <div class="icons">
          <div class="icon">
            <img src="{% static 'images/icon_03.png' %}" class="img-fluid" alt="icon" title="icon">
          </div>
        </div>
        <h4>Online Writing Services</h4>
        <p>Expert writing solutions for various needs, from business documents to creative projects, delivering quality and precision.</p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 box text-center">
        <div class="icons">
          <div class="icon">
            <img src="{% static 'images/icon_04.png' %}" class="img-fluid" alt="icon" title="icon">
          </div>
        </div>
        <h4>Online Short Courses</h4>
        <p>Interactive short courses designed to quickly upgrade your knowledge and skills in various subjects, fitting your busy schedule.</p>
      </div>
    </div>
  </div>
</div>
