{% load static %}

<div class="service">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <div class="commontop text-center">
          <h2>our best service for you</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <hr>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 box text-center">
        <div class="icons">
          <div class="icon">
            <img src="{% static 'images/icon_01.png' %}" class="img-fluid" alt="icon" title="icon">
          </div>
        </div>
        <h4>Professional Courses</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 box text-center">
        <div class="icons">
          <div class="icon">
            <img src="{% static 'images/icon_02.png' %}" class="img-fluid" alt="icon" title="icon">
          </div>
        </div>
        <h4>Experienced Instructors</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 box text-center">
        <div class="icons">
          <div class="icon">
            <img src="{% static 'images/icon_03.png' %}" class="img-fluid" alt="icon" title="icon">
          </div>
        </div>
        <h4>Practical Traning</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 box text-center">
        <div class="icons">
          <div class="icon">
            <img src="{% static 'images/icon_04.png' %}" class="img-fluid" alt="icon" title="icon">
          </div>
        </div>
        <h4>Validated Certificated</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>
