{% load static %}

<div class="testimonail">
  <div class="image">
    <img src="{% static 'images/test_bg.jpg' %}" class="img-fluid" alt="bg" title="bg">
  </div>
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
          <div class="box">
            <div class="icon">
              <img src="{% static 'images/test.png' %}" class="img-fluid" alt="image" title="image">
            </div>
            <h4>Prof J. Kwasa</h4>
            <h5>Web Developer and Engineer</h5>
            <p>
              <i class="icofont icofont-quote-left"></i>"As a seasoned web developer and engineer, my journey of partnering and working with various platforms has been transformative. Through this collaborative venture, I've discovered immense opportunities for online freelancers and developers to refine their skills and expertise. It's a rewarding journey of growth and innovation, where every project adds value and fuels the passion for creating impactful digital experiences."</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
