{% extends "base.html" %}
{% load static %}

{% block title %}
{{ block.super }}
About Peter Muia Earnings
{% endblock title %}


{% block crums %}
<div class="bread-crumb">
    <img src="{% static 'images/banner-top.jpg' %}" class="img-fluid" alt="banner-top" title="banner-top">
    <div class="container">
        <div class="matter">
            <h2>About us</h2>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="{% url 'home' %}">HOME</a>
                </li>
                <li class="list-inline-item">
                    <a href="{% url 'about' %}">About us</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock crums %}

{% block main %}
<!-- abouts start here -->
<div class="abouts mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <p class="des">We provide exceptional online writing, training, and content creation services for
                    freelancers and remote workers. We understand the growing demand for high-quality content and
                    skilled professionals in the digital landscape. This drove us to build a comprehensive platform that
                    connects talented writers with clients who value excellence and efficiency.</p>

                <p class="des"> We started our journey by offering diverse online writing services, ensuring that every
                    piece of content meets the highest standards of quality. Our team of dedicated professionals is
                    committed to delivering reliable and precise writing solutions, from business documents to creative
                    projects. Recognizing the need for continuous skill development, we also provide online training
                    programs that help freelancers and remote workers stay competitive and enhance their expertise.</p>

                <p class="des">In addition to writing and training, we offer tailored online content writing services
                    designed to boost digital presence and engage audiences effectively. Our platform connects and
                    partners with international blog platforms, article writing platforms, online account sellers, and
                    task providers, ensuring a steady flow of opportunities and tasks for our writers.</p>

                <p class="des"> We are proud to deliver consistent, proven results, and prompt communication to keep our
                    clients and freelancers informed and satisfied. Our commitment to quality and accountability has
                    made us a trusted partner in the online freelance community. We strive to empower freelancers by
                    offering reliable income sources and valuable resources, paving the way for their financial
                    independence and professional growth.</p>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <div class="image">
                    <img src="{% static 'images/about-img.jpg' %}" class="img-fluid" alt="img" title="img">
                    <div class="icon">
                        <div class="ico">
                            <a href="#">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- abouts end here -->

<!-- inner start here -->
<div class="inner">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 feature">
                <div class="commontop text-left">
                    <h2>Our Features</h2>
                    <hr>
                </div>

                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon01.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>Academic Writing</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon02.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>Article Writing</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon01.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>Blogging</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon02.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>Online Skill Training</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon01.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>Web Content</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon02.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>Online Short Courses</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon01.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>Web Development Services</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon02.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>IT Technical Services</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon02.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>Other Skill | Services</p>

                </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 feature">
                <div class="commontop text-left">
                    <h2>Our Products</h2>
                    <hr>
                </div>

                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon01.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>Online Writing Accounts</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon02.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>Blogging Websites</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon01.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>WEB Development Courses online</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon02.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>Programing Bootcamp Courses</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon01.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>IT Technical Setup</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon02.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>Affliet Marketing Platforms</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon01.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>Remote Task Platforms</p>

                </div>
                <div class="box" style="background-color: #42AD56;">
                    <img src="{% static 'images/icon02.png' %}" class="img-fluid" alt="icon" title="icon">
                    <p>Job Related services</p>

                </div>
            </div>


            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 feature">
                <div class="commontop text-left">
                    <h2>Frequently Asked Questions</h2>
                    <p>Here are a few responses to questions that you might encounter</p>
                </div>

                <div id="accordion">
                    <div class="card">
                        <h2 id="collapseheading1" class="card-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                <span>What services do you offer?</span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="collapseheading1"
                            data-bs-parent="#accordion">
                            <div class="card-body">
                                <h6>We provide a wide range of services, including online content writing, skill
                                    training, web development services, IT technical services, and more.</h6>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h2 id="collapseheading2" class="card-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                <span>How can I join your platform?</span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="collapseheading2"
                            data-bs-parent="#accordion">
                            <div class="card-body">
                                <h6>You can join our platform by registering on our website. Click on the 'REGISTER'
                                    button at the top of the page and fill in the required details.</h6>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h2 id="collapseheading3" class="card-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                <span>What types of writing services do you provide?</span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="collapseheading3"
                            data-bs-parent="#accordion">
                            <div class="card-body">
                                <h6>We offer academic writing, article writing, blogging, web content, and other
                                    professional writing services tailored to your needs.</h6>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h2 id="collapseheading4" class="card-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                <span>Do you offer training programs?</span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="collapseheading4"
                            data-bs-parent="#accordion">
                            <div class="card-body">
                                <h6>Yes, we offer comprehensive online training programs to help freelancers and remote
                                    workers enhance their skills and stay competitive in the market.</h6>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h2 id="collapseheading5" class="card-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                <span>How much do you charge for products and services?</span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="collapseheading5"
                            data-bs-parent="#accordion">
                            <div class="card-body">
                                <h6>We offer a free trial, one time payment and a subscription based pricing model on
                                    our website platform.</h6>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h2 id="collapseheading6" class="card-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                <span>What are the benefits of joining your platform?</span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </h2>
                        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="collapseheading6"
                            data-bs-parent="#accordion">
                            <div class="card-body">
                                <h6>By joining our platform, you gain access to a vast network of opportunities,
                                    continuous skill development, and reliable income sources to support your
                                    freelancing career.</h6>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h2 id="collapseheading7" class="card-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                <span>Who can benefit from your services?</span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </h2>
                        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="collapseheading7"
                            data-bs-parent="#accordion">
                            <div class="card-body">
                                <h6>Our services are ideal for freelancers, remote workers, and anyone looking to
                                    enhance their writing skills or expand their digital presence.</h6>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h2 id="collapseheading8" class="card-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                <span>How do you ensure the quality of your content?</span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </h2>
                        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="collapseheading8"
                            data-bs-parent="#accordion">
                            <div class="card-body">
                                <h6>Our team of dedicated professionals adheres to strict quality standards and ensures
                                    that every piece of content is thoroughly reviewed and meets client expectations.
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h2 id="collapseheading9" class="card-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                <span>Do you offer support for remote workers?</span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </h2>
                        <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="collapseheading9"
                            data-bs-parent="#accordion">
                            <div class="card-body">
                                <h6>Yes, we provide a range of resources and support services tailored specifically for
                                    remote workers to help them achieve success in their careers.</h6>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h2 id="collapseheading10" class="card-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                <span>What makes your platform unique?</span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </h2>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="collapseheading10"
                            data-bs-parent="#accordion">
                            <div class="card-body">
                                <h6>Our platform stands out due to our comprehensive service offerings, commitment to
                                    quality, continuous skill development programs, and our extensive network of
                                    opportunities for freelancers and remote workers.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- inner end here -->

<!-- aboutweek start here -->
<div class="aboutweek">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <div class="box">
                    <div class="caption">
                        <img src="{% static 'images/icon.png' %}" class="img-fluid" alt="img" title="img">
                        <h1>We get 50+ new members every week, Join Today!</h1>
                        <p>Sure, here is a 30-word statement relevant to joining your platform: Access exclusive
                            resources and opportunities. Don't miss out—apply now and be part of our journey!"</p>
                    </div>
                    <button type="button" onclick="window.location.href='{% url "contact" %}'">APPLY NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- aboutweek end here -->
<!-- service start here -->
{% include "pages/components/services.html" %}
<!-- service end here -->

<!-- testimonail start here -->
{% include "pages/components/testimonials.html" %}
<!-- testimonail end here -->

<!-- newsletter start here -->
{% include "pages/components/newsletter.html" %}
<!-- newsletter end here -->

{% endblock main %}