{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
  {{ block.super }}
  Conatact Us Page
{% endblock title %}

{% block main %}
  <!-- contactus start here -->
  <div class="contactus">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12">
          <form method="post" action="{% url 'contact' %}" class="form-horizontal">
            {% csrf_token %}
            <h5>get in touch</h5>
            <hr>

            <div class="row">
              {% if messages %}
                {% for message in messages %}
                  <div class="col-12">
                    <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
                      {{message}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <div class="form-group">
                  <label>{{form.name.label}}*</label>
                  {{form.name|attr:"class:form-control"|attr:"placeholder:peter muai"}}
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <div class="form-group">
                  <label>{{form.email.label}}*</label>
                  {{form.email|attr:"class:form-control"|attr:"placeholder:example@gmail.com"}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <div class="form-group">
                  <label>{{form.message.label}}*</label>
                  {{form.message|attr:"class:form-control"|attr:"placeholder:Your message goes here .."}}
                </div>
              </div>
            </div>

            <input class="btn btn-primary" value="Send Message" type="submit">
          </form>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
          <div class="address">
            <h5>Contact Info</h5>
            <hr>
            <p>Nunc quis viverra nibh. Etiam mauris leo, consequat ut tincidunt ac, lobortis consequat ligula.</p>
            <ul class="list-unstyled">
              <li>
                <i class="icofont icofont-home"></i>
                14/3 Naymilu Owiro Akoko Road, Ludhiana 141001, Kenya.
              </li>
              <li>
                <i class="icofont icofont-phone"></i>
                +91 123 456 7890
              </li>
              <li>
                <i class="icofont icofont-fax"></i>
                +00 123 456 7890
              </li>
              <li>
                <i class="icofont icofont-envelope"></i>
                <a href="#">petermuia@example.com</a>
              </li>
              <li>
                <i class="icofont icofont-globe"></i>
                <a href="#">www.petermuia.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- contactus end here -->
  <!-- newsletter start here -->
  {% include "pages/components/newsletter.html" %}
  <!-- newsletter end here -->
{% endblock main %}
