{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
  {{ block.super }}
  Conatact Us Page
{% endblock title %}

{% block main %}
<!--link one forced here-->

  <!-- contactus start here -->
  <div class="contactus">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12">
          <form method="post" action="{% url 'contact' %}" class="form-horizontal">
            {% csrf_token %}
            <h5>get in touch</h5>
            <hr>

            <div class="row">
              {% if messages %}
                {% for message in messages %}
                  <div class="col-12">
                    <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
                      {{message}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <div class="form-group">
                  <label>{{form.name.label}}*</label>
                  {{form.name|attr:"class:form-control"|attr:"placeholder:peter muai"}}
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <div class="form-group">
                  <label>{{form.email.label}}*</label>
                  {{form.email|attr:"class:form-control"|attr:"placeholder:example@gmail.com"}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <div class="form-group">
                  <label>{{form.message.label}}*</label>
                  {{form.message|attr:"class:form-control"|attr:"placeholder:Your message goes here .."}}
                </div>
              </div>
            </div>

            <input class="btn btn-primary" value="Send Message" type="submit">
          </form>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
          <div class="address">
            <h5>Contact Info</h5>
            <hr>
            <p>We can be reached through the following contacts</p>
            <ul class="list-unstyled">
              
              
              <li>
                <i class="icofont icofont-envelope"></i>
                <a href="mailto:petermuia@example.com">support@domain.com</a>
              </li>
              <li>
                <i class="icofont icofont-envelope"></i>
                <a href="mailto:petermuia@example.com">Info@domain.com</a>
              </li>
              
           
              <li>
                <i class="icofont icofont-ui-user"></i>
                Web Developer: <a href="tel:+911234567890" style="color: blue;">phone</a>
              </li>
              <li>
                <i class="icofont icofont-ui-user"></i>
                Online Writing: <a href="tel:+911234567891" style="color: blue;">phone</a>
              </li>
              <li>
                <i class="icofont icofont-ui-user"></i>
                Online jobs: <a href="tel:+911234567891" style="color: blue;">phone</a>
              </li>
              <li>
                <i class="icofont icofont-brand-whatsapp"></i>
                Web Developer : <a href="https://wa.me/911234567892" target="_blank" style="color: green;"> WhatsApp</a>
              </li>
              <li>
                <i class="icofont icofont-brand-whatsapp"></i>
                Online Writing: <a href="https://wa.me/911234567892" target="_blank" style="color: green;"> WhatsApp</a>
              </li>
              <li>
                <i class="icofont icofont-brand-whatsapp"></i>
                Online jobs: <a href="https://wa.me/911234567892" target="_blank" style="color: green;"> WhatsApp</a>
              </li>
              
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- contactus end here -->
  <!-- newsletter start here -->
  {% include "pages/components/newsletter.html" %}
  <!-- newsletter end here -->
{% endblock main %}
