{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ block.super }}
  Frequently Asked Questions
{% endblock title %}

{% block main %}
  <!-- faq start here -->
  <div class="faq">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12">

          <div id="accordion">
            <div class="card active">
              <div class="card-header">
                <h4 class="card-title">What services do you offer?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse1" class="hidelink">Hide ANSWER</a>
              </div>
              <div id="collapse1" class="collapse show">
                <div class="card-body">
                  <p>We provide a wide range of services, including online content writing, skill training, web development services, IT technical services, and more.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">How can I join your platform?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse2" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse2" class="collapse">
                <div class="card-body">
                  <p>You can join our platform by registering on our website. Click on the 'REGISTER' button at the top of the page and fill in the required details.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">What types of writing services do you provide?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse3" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse3" class="collapse">
                <div class="card-body">
                  <p>We offer academic writing, article writing, blogging, web content, and other professional writing services tailored to your needs.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Do you offer training programs?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse4" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse4" class="collapse">
                <div class="card-body">
                  <p>Yes, we offer comprehensive online training programs to help freelancers and remote workers enhance their skills and stay competitive in the market.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">How much do you charge for products and services?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse5" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse5" class="collapse">
                <div class="card-body">
                  <p>We offer a free trial, one time payment and a subscription based pricing model on our website platform.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">What are the benefits of joining your platform?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse6" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse6" class="collapse">
                <div class="card-body">
                  <p>By joining our platform, you gain access to a vast network of opportunities, continuous skill development, and reliable income sources to support your freelancing career.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Who can benefit from your services?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse7" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse7" class="collapse">
                <div class="card-body">
                  <p>Our services are ideal for freelancers, remote workers, and anyone looking to enhance their writing skills or expand their digital presence.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">How do you ensure the quality of your content?                </h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse7" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse7" class="collapse">
                <div class="card-body">
                  <p>Our team of dedicated professionals adheres to strict quality standards and ensures that every piece of content is thoroughly reviewed and meets client expectations.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Do you offer support for remote workers?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse7" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse7" class="collapse">
                <div class="card-body">
                  <p>Yes, we provide a range of resources and support services tailored specifically for remote workers to help them achieve success in their careers.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">What makes your platform unique?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse7" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse7" class="collapse">
                <div class="card-body">
                  <p>Our platform stands out due to our comprehensive service offerings, commitment to quality, continuous skill development programs, and our extensive network of opportunities for freelancers and remote workers.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 right">
          <img src="{% static 'images/ads2.jpg' %}" class="img-fluid" alt="ads" title="ads">
          {% comment %} <img src="{% static 'images/call_banner.jpg' %}" class="img-fluid" alt="img" title="img"> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
  <!-- faq end here -->
  <!-- newsletter start here -->
  {% include "pages/components/newsletter.html" %}
  <!-- newsletter end here -->
{% endblock main %}
