{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ block.super }}
  Frequently Asked Questions
{% endblock title %}

{% block main %}
  <!-- faq start here -->
  <div class="faq">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12">

          <div id="accordion">
            <div class="card active">
              <div class="card-header">
                <h4 class="card-title">01. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse1" class="hidelink">Hide ANSWER</a>
              </div>
              <div id="collapse1" class="collapse show">
                <div class="card-body">
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">02. Maecenas vitae turpis porta, aliquet arcu eget?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse2" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse2" class="collapse">
                <div class="card-body">
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">03. In ac nunc semper, lobortis erat?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse3" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse3" class="collapse">
                <div class="card-body">
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">04. Lorem ipsum, consectetur adipiscing elit?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse4" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse4" class="collapse">
                <div class="card-body">
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">05. Lorem ipsum dolor sit amet, consectetur elit?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse5" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse5" class="collapse">
                <div class="card-body">
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">06. Lorem sit amet, consectetur adipiscing elit?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse6" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse6" class="collapse">
                <div class="card-body">
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">07. Lorem ipsum dolor sit amet, adipiscing elit?</h4>
                <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse7" class="hidelink">SHOW ANSWER</a>
              </div>
              <div id="collapse7" class="collapse">
                <div class="card-body">
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 right">
          <img src="{% static 'images/ads2.jpg' %}" class="img-fluid" alt="img" title="img">
          <img src="{% static 'images/call_banner.jpg' %}" class="img-fluid" alt="img" title="img">
        </div>
      </div>
    </div>
  </div>
  <!-- faq end here -->
  <!-- newsletter start here -->
  {% include "pages/components/newsletter.html" %}
  <!-- newsletter end here -->
{% endblock main %}
