{% extends "base.html" %} {% load static %} {% block title %} {{ block.super }}
Payment Method {% endblock title %} {% block main %} {% comment %} was to
include in head {% endcomment %}

<!--new styles nootrap 4 for payment-->

<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div class="container">
  <div class="row">
    <!-- col.// -->
    <aside class="col-sm-6">
      <p>Global Payments</p>

      <article class="card">
        <div class="card-body p-5">
          <ul
            class="nav bg-light nav-pills rounded nav-fill mb-3"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                data-toggle="pill"
                href="#nav-tab-card"
              >
                <i class="fa fa-credit-card"></i> Credit Card</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                <i class="fab fa-paypal"></i> Paypal</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
                <i class="fa fa-university"></i> Bank Transfer</a
              >
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-tab-card">
              <p class="alert alert-success">Some text success or error</p>
              <form role="form">
                <div class="form-group">
                  <label for="username">Full name (on the card)</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    placeholder=""
                    required=""
                  />
                </div>
                <!-- form-group.// -->

                <div class="form-group">
                  <label for="cardNumber">Card number</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      name="cardNumber"
                      placeholder=""
                    />
                    <div class="input-group-append">
                      <span class="input-group-text text-muted">
                        <i class="fab fa-cc-visa"></i>  
                        <i class="fab fa-cc-amex"></i>  
                        <i class="fab fa-cc-mastercard"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <!-- form-group.// -->

                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group">
                      <label><span class="hidden-xs">Expiration</span> </label>
                      <div class="input-group">
                        <input
                          type="number"
                          class="form-control"
                          placeholder="MM"
                          name=""
                        />
                        <input
                          type="number"
                          class="form-control"
                          placeholder="YY"
                          name=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label
                        data-toggle="tooltip"
                        title=""
                        data-original-title="3 digits code on back side of the card"
                        >CVV <i class="fa fa-question-circle"></i
                      ></label>
                      <input type="number" class="form-control" required="" />
                    </div>
                    <!-- form-group.// -->
                  </div>
                </div>
                <!-- row.// -->
                <button
                  class="subscribe btn btn-primary btn-block"
                  type="button"
                >
                  Confirm
                </button>
              </form>
            </div>
            <!-- tab-pane.// -->
            <div class="tab-pane fade" id="nav-tab-paypal">
              <p>Paypal is easiest way to pay online</p>
              <p>
                <button type="button" class="btn btn-primary">
                  <i class="fab fa-paypal"></i> Log in my Paypal
                </button>
              </p>
              <p>
                <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
              </p>
            </div>
            <div class="tab-pane fade" id="nav-tab-bank">
              <p>Bank accaunt details</p>
              <dl class="param">
                <dt>BANK:</dt>
                <dd>THE WORLD BANK</dd>
              </dl>
              <dl class="param">
                <dt>Accaunt number:</dt>
                <dd>12345678912345</dd>
              </dl>
              <dl class="param">
                <dt>IBAN:</dt>
                <dd>123456789</dd>
              </dl>
              <p>
                <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
              </p>
            </div>
            <!-- tab-pane.// -->
          </div>
          <!-- tab-content .// -->
        </div>
        <!-- card-body.// -->
      </article>
      <!-- card.// -->
    </aside>

    <!-- col.// -->
    <!-- col.// -->
    <!-- col.// -->
    <!-- col.// -->
    <!-- col.// -->

    <aside class="col-sm-6">
      <p>M-Pesa Payments</p>

      <article class="card">
        <div class="card-body p-5">
          <ul
            class="nav bg-light nav-pills rounded nav-fill mb-3"
            role="tablist"
          >
            
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#nav-tab-STK">
                <i class="fa fa-exchange-alt"></i> STK Push</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#nav-tab-TILL">
                <i class="fa fa-shopping-cart"></i> Buy Goods</a
              >
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-tab-card">
              <p class="alert alert-success">Some text success or error</p>
              
            </div>
            <!-- tab-pane.// -->
            <div class="tab-pane fade" id="nav-tab-STK">
              <p>STK Push is easiest way to pay online</p>
              <p>
                <div data-mdb-input-init class="form-outline" style="width: 22rem;">
                    <i class="fas fa-dollar-sign trailing">KES</i>
                    <input type="number" id="form1" class="form-control form-icon-trailing" />
                    <label class="form-label" for="form1">Enter the amount</label>
                </div>
                <button type="button" class="btn btn-primary">
                  <i class="fa fa-exchange-alt"></i> Pay
                </button>
              </p>
              <p>
                <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
              </p>
            </div>
            <div class="tab-pane fade" id="nav-tab-TILL">
              <p>Bank accaunt details</p>
              <ul>
                <li>
                  <dl class="param">
                    <dt>Step 1:</dt>
                    <dd>Open your M-PESA menu on your mobile phone.</dd>
                  </dl>
                </li>
                <li>
                  <dl class="param">
                    <dt>Step 2:</dt>
                    <dd>Select "Lipa na M-PESA" option.</dd>
                  </dl>
                </li>
                <li>
                  <dl class="param">
                    <dt>Step 3:</dt>
                    <dd>Select "Buy Goods and Services".</dd>
                  </dl>
                </li>
                <li>
                  <dl class="param">
                    <dt>Step 4:</dt>
                    <dd>Enter the Till Number: <strong>123456</strong>.</dd>
                  </dl>
                </li>
                <li>
                  <dl class="param">
                    <dt>Step 5:</dt>
                    <dd>Enter the amount you wish to pay and confirm the transaction.</dd>
                  </dl>
                </li>
                <li>
                  <dl class="param">
                    <dt>NOTE</dt>
                    <dd>After a successful payment <a href="{% url 'contact' %}"> contact us</a> to deliver your product or order</dd>
                  </dl>
                </li>
              </ul>
              <p>
                <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
              </p>
            </div>
            <!-- tab-pane.// -->
          </div>
          <!-- tab-content .// -->
        </div>
        <!-- card-body.// -->
      </article>
      <!-- card.// -->
    </aside>
    <!-- col.// -->
  </div>
  <!-- row.// -->
</div>
<!--container end.//-->

<br /><br />

{% endblock main %}
