{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ block.super }}
  Flexible pricing plans
{% endblock title %}

{% block main %}
  <!-- priceplan start here -->
  <div class="priceplan">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          <div class="box">
            <p>FOR WEEK</p>
            <h4>STARTER</h4>
            <div class="matter">
              $60<span>/per week</span>
            </div>
            <ul class="list-unstyled">
              <li>
                <span>01.</span>
                Sed Faucibus nisl quis sem
              </li>
              <li>
                <span>02.</span>
                Integer ut felis ut ante egestas
              </li>
              <li>
                <span>03.</span>
                Donec et ex eu nibh
              </li>
              <li>
                <span>04.</span>
                Donec Consequat ex nec finibus
              </li>
              <li>
                <span>05.</span>
                Integer ut felis ut ante egestas
              </li>
            </ul>
            <div class="text-center">
              <button type="button">Get it now</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-md-4 col-xs-12">
          <div class="box1">
            <p>FOR MONTH</p>
            <h4>STANDARD</h4>
            <div class="matter">
              $200<span>/per MONTH</span>
            </div>
            <ul class="list-unstyled">
              <li>
                <span>01.</span>
                Sed Faucibus nisl quis sem
              </li>
              <li>
                <span>02.</span>
                Integer ut felis ut ante egestas
              </li>
              <li>
                <span>03.</span>
                Donec et ex eu nibh
              </li>
              <li>
                <span>04.</span>
                Donec Consequat ex nec finibus
              </li>
              <li>
                <span>05.</span>
                Integer ut felis ut ante egestas
              </li>
            </ul>
            <div class="text-center">
              <button type="button">Get it now</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-md-4 col-xs-12">
          <div class="box2">
            <p>FOR YEAR</p>
            <h4>SUPER</h4>
            <div class="matter">
              $1300<span>/per YEAR</span>
            </div>
            <ul class="list-unstyled">
              <li>
                <span>01.</span>
                Sed Faucibus nisl quis sem
              </li>
              <li>
                <span>02.</span>
                Integer ut felis ut ante egestas
              </li>
              <li>
                <span>03.</span>
                Donec et ex eu nibh
              </li>
              <li>
                <span>04.</span>
                Donec Consequat ex nec finibus
              </li>
              <li>
                <span>05.</span>
                Integer ut felis ut ante egestas
              </li>
            </ul>
            <div class="text-center">
              <button type="button">Get it now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- priceplan end here -->
  <!-- newsletter start here -->
  {% include "pages/components/newsletter.html" %}
  <!-- newsletter end here -->
{% endblock main %}
