{% extends "base.html" %}

{% load static %}
{% block title %}
  {{ block.super }}
  Terms & Conditions 
{% endblock title %}

{% block main %}
{% comment %} was to include in head {% endcomment %}




<!--new styles nootrap 4 for payment-->






<div class="container">
  <h1>Terms and Conditions</h1>
  
  <h2>Introduction</h2>
  <p>Welcome to Earnkraft Agencies. These terms and conditions outline the rules and regulations for the use of our website and services. By accessing this website, we assume you accept these terms and conditions. Do not continue to use Earnkraft Agencies if you do not agree to all of the terms and conditions stated on this page.</p>

  <h2>Eligibility</h2>
  <p>You must be at least 18 years of age to use our website and services. By using our website and agreeing to these terms and conditions, you warrant and represent that you are at least 18 years of age.</p>

  <h2>Services</h2>
  <p>Earnkraft Agencies offers a variety of online writing and training services to freelancers and remote workers. We provide support and resources to enhance productivity and success in the digital marketplace.</p>

  <h2>Intellectual Property Rights</h2>
  <p>Unless otherwise stated, Earnkraft Agencies and/or its licensors own the intellectual property rights for all material on Earnkraft Agencies. All intellectual property rights are reserved. You may access this from Earnkraft Agencies for your own personal use subjected to restrictions set in these terms and conditions.</p>

  <h2>Acceptable Use</h2>
  <p>You must not use our website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website. You must not use our website in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>

  <h2>Limitations of Liability</h2>
  <p>Earnkraft Agencies will not be liable to you in relation to the contents of, or use of, or otherwise in connection with, this website for any indirect, special or consequential loss. These limitations of liability apply even if Earnkraft Agencies has been expressly advised of the potential loss.</p>

  <h2>Governing Law</h2>
  <p>These terms and conditions are governed by and construed in accordance with the laws of Kenya, and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>

  <h2>Contact Information</h2>
  <p>If you have any questions about these Terms, please contact us:</p>


  <h2>Changes to Terms</h2>
        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

        <h2>Privacy Policy</h2>
        <p>Your privacy is important to us. Please read our Privacy Policy for more information on how we collect, use, and protect your information.</p>

        <h2>Third-Party Links</h2>
        <p>Our Service may contain links to third-party websites or services that are not owned or controlled by Earnkraft Agencies. Earnkraft Agencies has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party websites or services.</p>

        <h2>Governing Law</h2>
        <p>These terms and conditions are governed by and construed in accordance with the laws of Kenya. While we provide services to clients both within Kenya and internationally, you agree that any legal matters will be handled exclusively within the jurisdiction of the courts in Kenya.</p>
        

  <ul>
      <li>By email: <a href="mailto:contact@earnkraft.com">contact@earnkraft.com</a></li>
      
  </ul>
</div>

{% endblock main %}