.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

.prettycheckbox label {
    display: none !important;
}

.prettycheckbox,
.prettyradio {
    display: inline-block;
    padding: 0;
    margin: 0
}

.prettycheckbox>a {
    border: 1px solid #ddd;
    cursor: pointer;
    display: block;
    float: left;
    height: 19px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    width: 21px;
    padding: 0px;

}

.prettyradio>a {
    height: 16px;
    display: block;
    float: left;
    cursor: pointer;
    margin: 0;
    position: relative;
    width: 15px;
}

.prettycheckbox>a:focus,
.prettyradio>a:focus {
    outline: 0 none
}

.prettycheckbox label,
.prettyradio label {
    display: none;
    float: left;
    margin: 6px 5px;
    cursor: pointer
}

.prettycheckbox a.disabled,
.prettycheckbox label.disabled,
.prettyradio a.disabled,
.prettyradio label.disabled {
    cursor: not-allowed
}


.prettycheckbox>a.checked.disabled {
    background-position: -150px 0
}

.prettycheckbox>a.disabled {
    background-position: -120px 0
}

.prettyradio>a.checked.disabled {
    background-position: -330px 0
}

.prettyradio>a.disabled {
    background-position: -300px 0
}