{% extends "base.html" %}


<!-- bread-crumb end here -->
{% block main %}
  <!-- error start here -->
  <div class="error">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
          <h2>404</h2>
          <h5>PAGE NOT FOUND</h5>
          <p>We're sorry, the page you requested cannot be found you.<br>
            You can go back to</p>
          <button type="button" onclick="location.href='{% url 'home' %}'">Back to home
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- error end here -->
{% endblock main %}
