{% load static %}

<footer>

  {% comment %} <div class="social">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
          <ul class="list-inline">
            <li class="">
              <a href="https://www.facebook.com/" target="_blank">
                <i class="icofont icofont-social-facebook"></i>
              </a>
            </li>

            <li class="">
              <a href="https://in.pinterest.com/" target="_blank">
                <i class="icofont icofont-social-pinterest"></i>
              </a>
            </li>
            <li class="">
              <a href="https://www.skype.com/en/" target="_blank">
                <i class="icofont icofont-social-skype"></i>
              </a>
            </li>
            <li class="">
              <a href="https://www.stumbleupon.com/" target="_blank">
                <i class="icofont icofont-social-stumbleupon"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
  <div class="powered">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
          <ul class="list-inline">
            <li class="">
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="">
              <a href="{% url 'about' %}">About us</a>
            </li>
            <li class="">
              <a href="{% url 'pricing' %}">Pricing</a>
            </li>
            <li class="">
              <a href="{% url 'faqs' %}">FAQs</a>
            </li>
            <li class="">
              <a href="{% url 'contact' %}">Contact us</a>
            </li>
            <li class="">
              <a href="{% url 'terms' %}">Terms & Conditions</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 text-right">
          <p>&copy; 2024 Earnkraft Agencies | All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>