{% load static %}

<footer>

  <div class="social">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
          <ul class="list-inline">
            <li class="">
              <a href="https://www.facebook.com/" target="_blank">
                <i class="icofont icofont-social-facebook"></i>
              </a>
            </li>

            <li class="">
              <a href="https://in.pinterest.com/" target="_blank">
                <i class="icofont icofont-social-pinterest"></i>
              </a>
            </li>
            <li class="">
              <a href="https://www.skype.com/en/" target="_blank">
                <i class="icofont icofont-social-skype"></i>
              </a>
            </li>
            <li class="">
              <a href="https://www.stumbleupon.com/" target="_blank">
                <i class="icofont icofont-social-stumbleupon"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="powered">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
          <ul class="list-inline">
            <li class="">
              <a href="index.html">Home</a>
            </li>
            <li class="">
              <a href="">ALL courses</a>
            </li>
            <li class="">
              <a href="">ABOUT</a>
            </li>
            <li class="">
              <a href="">Events</a>
            </li>
            <li class="">
              <a href="">blog</a>
            </li>
            <li class="">
              <a href="">contact us</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 text-right">
          <p>PeterMuia TMD Studio, All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>