{% load static %}

<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
        <div id="logo">
          <a href="{% url 'home' %}">
            <img class="img-fluid" src="{% static 'images/logoearn.jpeg' %}" alt="logo" title="logo">
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 paddmenu">
        <!-- menu start here -->
        <div id="menu">
          <nav class="navbar navbar-expand-lg">
            <span class="menutext">Menu</span>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarmain">
              <ul class="nav navbar-nav mr-auto">
                <li class="nav-item {% if request.resolver_match.view_name == 'home' %} active {% endif %}">
                  <a class="nav-link" href="{% url 'home' %}">HOME</a>
                </li>
                <li class="nav-item {% if request.resolver_match.view_name == 'about' %} active {% endif %}">
                  <a class="nav-link" href="{% url 'about' %}">About us</a>
                </li>
                <li class="nav-item {% if request.resolver_match.view_name == 'pricing' %} active {% endif %}">
                  <a class="nav-link" href="{% url 'pricing' %}">Pricing</a>
                </li>
                {% comment %} <li class="nav-item {% if request.resolver_match.view_name == 'product' %} active {% endif %}">
                  <a class="nav-link" href="{% url 'product' %}">Products</a>
                </li> {% endcomment %}
                <li class="nav-item {% if request.resolver_match.view_name == 'contact' %} active {% endif %}">
                  <a class="nav-link " href="{% url 'contact' %}">contact us</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <!-- menu end here -->
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
        <ul class="list-inline icon float-end">
          <li class="list-inline-item">
            <form class="form-horizontal" method="post" id="srch">
              {% csrf_token %}
              <fieldset>
                <div class="form-group">
                  <input name="search" value="" class="form-control" placeholder="Search" type="text">
                </div>
                <button type="button" value="submit" class="btn">
                  <i class="icofont icofont-search"></i>
                </button>
              </fieldset>
            </form>
          </li>
          <li class="list-inline-item">
            <button type="button" onclick="window.location.href='{% url 'contact' %}'" class="btn-primary">Free Trail</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>